{{#extend (layoutName "master") filename="forgot-password"}}
{{#content "head"}}
{{> head}}
<script>
// FIXME: move this inside a seperate file and bundle it

let form;

function submit(e) {
    e.preventDefault();

    const email = document.querySelector('input[type=email]').value;
    const password = document.querySelector('input[type=password]').value;
    const fieldset = document.querySelector('fieldset');

    fieldset.disabled = true;

    const params = (new URL(document.location)).searchParams;
    let token = params.get("token");

    fetch(`/password/reset/${token}`, {
        method: 'POST',
        mode: 'cors',
        cache: 'no-cache',
        credentials: 'same-origin',
        headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
        },
        redirect: 'follow',
        referrerPolicy: 'no-referrer',
        body: JSON.stringify({ email, new_password: password }),
    })
    .then((res) => {
      if (res.ok) {
        document.querySelector('div[role=alert]').classList.remove('d-none');
        fieldset.disabled = false;
        form.reset();
      }
    });
}

document.addEventListener("DOMContentLoaded", function(event) {
    form = document.querySelector('form');
    form.addEventListener('submit', submit);
});
</script>
{{/content}}

{{#content "title"}}
Change Password
{{/content}}

{{#content "mainContent"}}
{{> header}}

<main class="body-blue-md">
  <div class="container-small pt-5 text-center">
    <h1>Change Password</h1>
    <form class="mt-5">
      <div class="alert alert-success d-none" role="alert">
        Successfully Updated
      </div>
      <fieldset>
        <div class="form-group mb-4">
          <label for="email" class="text-start d-block">Email</label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="form-group mb-4">
          <label for="Password" class="text-start d-block">Password</label>
          <input type="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn d-block w-100 btn-primary mt-5 min-width-300">
          Update Password
        </button>
      </fieldset>
    </form>
  </div>
</main>
{{/content}}
{{/extend}}
