<div class="col-lg-8 ps-md-4 pt-4 custom-border-top-sm">
  <form
    x-data="paymentForm('{{stripePublishableKey}}')"
    x-ref="paymentForm"
    @submit.prevent="submit">
    <div class="toggle-sec">
      <div class="row mb-3">
        <div class="form-group col-12 mb-3">
          <h2 class="float-start">Donate Now</h2>

          <!-- Currency Picker -->
          <div class="custom-select-wrap text-end">
            <select class="custom-select min-width-100px" x-model="currency">
              <template x-for="key in Object.keys(currencies)" :key="key">
                <option x-bind:value="key" x-text="`${key.toUpperCase()} ${currencies[key]}`">
                </option>
              </template>
            </select>
          </div>

        </div>

        <!-- Donation Method Chooser -->
        <div class="form-group col-12 mb-3">
          <div class="row">
            <div class="col-md-4 col-5">
              <div class="form-check radio-lg">
                <input
                    class="form-check-input"
                    type="radio"
                    name="donateOptions"
                    id="oneTime"
                    value="oneTime"
                    x-model="donationType">
                <label class="form-check-label" for="oneTime">
                  One Time
                </label>
              </div>
            </div>
            <div class="col-md-4 col-7">
              <div class="form-check radio-lg">
                <input
                    class="form-check-input"
                    type="radio"
                    name="donateOptions"
                    id="monthlyRecurring"
                    value="monthlyRecurring"
                    x-model="donationType">
                <label class="form-check-label" for="monthlyRecurring">
                  Monthly Recurring
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-12">
          <div class="radio-group row">

            <!-- Amount Picker -->
            <template x-for="amount in donationAmounts">
              <div class="col-6 col-md-2 mb-3">
                <div class="form-check mb-0 h-100">
                  <input
                      class="form-check-input"
                      type="radio"
                      name="donationAmount"
                      x-bind:id="`amount-${amount}`"
                      x-bind:value="amount"
                      x-model="donationAmount">
                  <label class="form-check-label mb-0 f-center" x-bind:for="`amount-${amount}`">
                    <span x-text="`${currencySymbol}${amount}`"></span><i class="far fa-check-circle"></i>
                  </label>
                </div>
              </div>
            </template>

            <template x-if="donationType === 'oneTime'">
              <div class="input-icon-wrap d-flex col-12 col-md-auto mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text h-100 px-3" x-text="currencySymbol"></span>
                </div>
                <input
                    type="text"
                    class="form-control"
                    x-model="donationAmount"
                    placeholder="Other amount"
                    aria-label="Other amount"
                    aria-describedby="basic-addon1">
              </div>
            </template>
          </div>
        </div>

        <div class="form-group col-12 mb-3">
          <div class="form-check checkbox-lg">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              Please add <span x-text="`${currencySymbol}${processingFees}`"></span> to my donation to cover the processing fee.
            </label>
          </div>
        </div>
        <div class="form-group col-12 mb-3">
          <textarea class="form-control resizer-none" id="comments" rows="3" placeholder="Comments"></textarea>
        </div>
      </div>
      <button class="btn btn-primary mt-4 min-width-300">Next</button>
    </div>
    <div class="toggle-sec">
      <h2 class="mb-3">
        <button class="btn btn-no-style responsive-items">
          <i class="fas fa-angle-left"></i>
        </button>
        Personal Info
      </h2>
      <div class="row">
        <div class="form-group col-md-4 mb-4">
          <label for="salutation">Salutation</label>
          <div class="custom-select-wrap text-end">
            <select class="custom-select w-100" id="salutation" x-model="salutation">
              <option value="Mr.">Mr.</option>
              <option value="Mrs.">Mrs.</option>
              <option value="Mr. and Mrs.">Mr. and Mrs.</option>
              <option value="Ms.">Ms.</option>
              <option value="Miss.">Miss.</option>
              <option value="Dr.">Dr.</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="firstName">First Name<sup>*</sup></label>
          <input type="text" class="form-control" id="firstName" x-model="firstName">
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="lastName">Last Name<sup>*</sup></label>
          <input type="text" class="form-control" id="lastName" x-model="lastName">
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="email">Email<sup>*</sup></label>
          <input type="email" class="form-control" id="email" x-model="email">
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="email">Phone<sup>*</sup></label>
          <input type="number" class="form-control" id="phoneNumber" x-model="phoneNumber">
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="company">Company<sup>*</sup></label>
          <input type="text" class="form-control" id="company" x-model="company">
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="country">Country<sup>*</sup></label>
          <div class="custom-select-wrap text-end">
            <select
              id="country"
              class="custom-select w-100"
              x-model="country"
              x-data="{ countries: [] }"
              x-init="countries = await (await fetch('https://restcountries.com/v3.1/all')).json()">
              <option selected disabled>Select</option>
              <template x-for="country in countries">
                <option x-bind:value="country.cca2" x-text="country.name.common">
                </option>
              </template>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="city">City<sup>*</sup></label>
          <input type="text" class="form-control" id="city" x-model="city">
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="state">State<sup>*</sup></label>
          <input type="text" class="form-control" id="state" x-model="state">
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="zipPostalCode">Zip/Postal Code<sup>*</sup></label>
          <input type="text" class="form-control" id="zipPostalCode" x-model="zipPostalCode">
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="Address1">Address 1<sup>*</sup></label>
          <input type="text" class="form-control" id="Address1" x-model="address1">
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="Address2">Address 2<sup>*</sup></label>
          <input type="text" class="form-control" id="Address2" x-model="address2">
        </div>
      </div>
      <button class="btn btn-primary mt-4 min-width-300">Next</button>
    </div>
    <div class="toggle-sec">
      <h2 class="mb-3">
        <button class="btn btn-no-style responsive-items">
          <i class="fas fa-angle-left"></i>
        </button>
        Payment Info
      </h2>

      <!-- Payment Elements -->
      <div class="row stripe-form" x-bind:class="fetchingPaymentIntent ? 'loading' : ''">
        <div class="spinner-border d-none" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="form-group col-md-5 mb-4">
          <label for="cardNumber-element">
            Credit Card Number
            <sup>*</sup>
          </label>
          <div id="cardNumber-element" class="form-control"></div>
        </div>
        <div class="form-group col-md-3 mb-4">
          <label for="cardCvc-element">
            Security Code
            <sup>*</sup>
          </label>
          <div id="cardCvc-element" class="form-control"></div>
        </div>
        <div class="form-group col-md-3 mb-4">
          <label for="cardExpiry-element">
            Expiration Date
            <sup>*</sup>
          </label>
          <div id="cardExpiry-element" class="form-control"></div>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary mt-4 min-width-300" x-ref="submitButton">
            Submit
          </button>
        </div>
      </div>

    </div>
  </form>
</div>
