<header class="main-header bg-grey fixed-top">
  <nav class="container-xl navbar">
    <a class="navbar-brand d-flex" href="/">
      <img src="images/logo@2x.png" class="o-contain" alt="brand logo">
      <div class="btn btn-blue">Language Technology</div>
    </a>
    <ul class="navbar-nav flex-row ms-auto">
      <li class="nav-item active">
        <a class="nav-link btn" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" href="/faqs">FAQs</a>
      </li>
    </ul>
  </nav>
</header>
