$white: #ffffff;
$black: #000000;
$black-100: #2B2A2A;
$grey: #F5F5F5;
$grey-100: #575757;
$input-grey: #939393;
$label-grey: #6E6E6E;
$input-border: #A8A8A8;
$cmn-border: #CECECE;
$blue: #218BE8;
$body-blue: #F8FCFF;
$lighter-blue: #EDF7FF;
$red: #E20617;
