{{#extend (layoutName "master") filename="forgot-password"}}
{{#content "head"}}
{{> head}}
{{/content}}

{{#content "title"}}
Forgot Password
{{/content}}

{{#content "mainContent"}}
{{> header}}

<main class="body-blue-md">
  <div class="container-small pt-5 text-center">
    <h1>Change Password</h1>
    <form class="mt-5">
      <div class="form-group mb-4">
        <label for="password" class="text-start d-block">New Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="form-group mb-4">
        <label for="confirmPassword" class="text-start d-block">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword">
      </div>
      <button type="submit" class="btn d-block w-100 btn-primary mt-5 min-width-300">Save</button>
    </form>
  </div>
</main>
{{/content}}
{{/extend}}
