<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{#block "title"}}{{/block}}</title>
  <link rel="icon" href="data:,">
  {{#block "head"}}{{/block}}
</head>
<body>
{{#block "mainContent"}}{{/block}}
</body>
</html>
